# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# dependencies
# Ignore package-lock.json files
**/package-lock.json

# Ignore .env files
**/.env

**/service-account.json
**/yarn.lock
**/google-services.json

# Ignore node_modules directories
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
